<html>

<head></head>

<body>



<form>
	<table style = "position:absolute; font-size: 40px; top: 80px; left: 387px; background-color: #331a00; color: #DAA520;">
	  <tr>
		<td align="right">Name:</td>
		<td align="left"><input type="text" placeholder="Enter Name" id="nam" name="bnam" style="width: 300px; font-size: 28px;"/></td>
	  </tr>
	  <tr>
		<td align="right">Price:</td>
		<td align="left"><input type="number" placeholder="Enter Price (GBP)" step = "0.05" id="pri" name="bpri" style="width: 300px; font-size: 28px;" /></td>
	  </tr>
	  <tr>
		<td align="right">Type:</td>
		<td align="left"><input type="text" placeholder="See Chart..." id="typ" name="btyp" onclick="seeChart2()" style="width: 300px; font-size: 28px;"/></td>
	  </tr>
	  <tr>
		<td align="right">Colour:</td>
		<td align="left"><input type="number" placeholder="See Chart..." id="col" name="bcol" onclick="seeChart()" style="width: 300px; font-size: 28px;"/></td>
	  </tr><tr>
		<td align="right">Rating:</td>
		<td align="left"><input type="number" placeholder="Enter Rating (1-5)" id="rat" name="brat" style="width: 300px; font-size: 28px;"/></td>
	  </tr><tr>
		<td align="right">Location:</td>
		<td align="left"><input type="text" placeholder="Enter Location" id="loc" name="bloc" style="width: 300px; font-size: 28px;"/></td>
	  </tr>
	</table>
  </form>


<script>

		function deleteBeer(){
			id = document.getElementById('nam').value;
			const Http = new XMLHttpRequest();
			const url='http://localhost:8888/deletebyid/' + id;
			Http.open("DELETE", url);
			Http.send();
		}

		let beerAdd = function(){
		console.log("helloo");
		const Http = new XMLHttpRequest();
		const url='http://localhost:8888/addbeer';
		Http.open("POST", url);
		Http.setRequestHeader("Content-Type", "application/json");
		
		const fd = {
				"name":  document.getElementById('nam').value,
				"price": document.getElementById('pri').value,
				"type":  document.getElementById('typ').value,
				"colour":  document.getElementById('col').value,
				"rating":  document.getElementById('rat').value,
				"location": document.getElementById('loc').value
		};

		
		Http.onload = function(){
			console.log("hello");
			console.log(Http.response);
			//after call getall
		}
			Http.send(JSON.stringify(fd))
		}

	
		function seeChart(){
			var ref = document.getElementById("colchart");
			ref.style.visibility="visible";
			setTimeout(hideChart, 4000);
		}
		
		function hideChart(){
			var ref = document.getElementById("colchart");
			ref.style.visibility="hidden";
		}

		function seeChart2(){
			var ref = document.getElementById("colchart2");
			ref.style.visibility="visible";
			setTimeout(hideChart2, 4000);
		}

		function hideChart2(){
			var ref = document.getElementById("colchart2");
			ref.style.visibility="hidden";
		}
	
		function checkValues(){
			
			var refn = document.getElementById("nam");
			var refp = document.getElementById("pri");
			var reft = document.getElementById("typ");
			var refc = document.getElementById("col");
			var refr = document.getElementById("rat");
			var refl = document.getElementById("loc");
			
			if(refn.value == ""){
				alert("Name is missing");
				return false;
			}
			else if(refp.value == ""){
				alert("Price is missing");
				return false;
			}
			else if(reft.value == ""){
				alert("Type is missing");
				return false;
			}
			else if(refc.value == ""){
				alert("Colour is missing");
				return false;
			}
			else if(refr.value == ""){
				alert("Rating is missing");
				return false;
			}
			else if(refl.value == ""){
				alert("Location is missing");
				return false;
			}
		}


</script>


<form action="IMDBeerLanding.html">
		<input type="submit" value="HOME"
			style="background-color: #331a00; color: #ffffff; position: absolute; top: 10px; left: 265px; height: 20px; width: 122px;" />
	</form>
	
	<form action="submitform.html">
		<input type="submit" value="ADD BEER"
			style="background-color: #331a00; color: #ffffff; position: absolute; top: 10px; left: 385px; height: 20px; width: 138px;" />
	</form>
	
	<form action="library.html">
		<input type="submit" value="LIBRARY"
			style="background-color: #331a00; color: #ffffff; position: absolute; top: 10px; left: 521px; height: 20px; width: 138px;" />
	</form>
	
	<form action="recommendations.html">
		<input type="submit" value="RECOMMENDATIONS"
			style="background-color: #331a00; color: #ffffff; position: absolute; top: 10px; left: 657px; height: 20px; width: 198px;" />
	</form>
	
	<form action="contactus.html">
		<input type="submit" value="CONTACT US"
			style="background-color: #331a00; color: #ffffff; position: absolute; top: 10px; left: 854px; height: 20px; width: 158px;" />
	</form>
	
	<button onclick="beerAdd()" name="addy" style = "position:absolute; font-size: 40px; top: 475px; left: 360px; background-color: #331a00; color: #DAA520;">Add Beer</button>
	<button onclick="beerAdd()" name="uppy" style = "position:absolute; font-size: 40px; top: 475px; left: 578px; background-color: #331a00; color: #DAA520;">Update</button>
	<button onclick="deleteBeer()" name="deletey" style = "position:absolute; font-size: 40px; top: 475px; left: 756px; background-color: #331a00; color: #DAA520;">Delete</button>
<img
	src="https://c1.staticflickr.com/9/8097/8375530820_5fe008d541_z.jpg"
	style="visibility: hidden; position: absolute; top: 125px; left: 870px; width: 30%; height: 41%;"
	id="colchart"; >

	<img
	src="http://www.beerdrinkersunited.com/wp-content/uploads/2016/05/Beer-Color-Chart1.png"
	style="visibility: hidden; position: absolute; top: 50px; left: 20px; width: 23%; height: 63%;"
	id="colchart2"; >

<img
	src='https://commonwealthskybar.com/wp-content/uploads/2018/11/cocktail-bar-background.jpg'
	style='position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: -1;'>


</body>
</html>