<html>

<head></head>

<body>
<div
	style="position: absolute; top: 200px; left: 52px; background-color: #331a00;">
	<form method="post" onsubmit="beerAdd()">
		<font color="white"> Name: &nbsp;&nbsp;&nbsp;&nbsp; 
			<input	type="text" id="nam" name="bnam"><br> 
			Price:
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" step = "0.05" id="pri"
			name="bpri"><br> Type: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input
			type="text" id="typ" name="btyp"><br> Colour:
			&nbsp;&nbsp;&nbsp;<input type="number" id="col" onclick="seeChart()"
			name="bcol"><br> Rating: &nbsp;&nbsp;&nbsp; <input
			type="number" id="rat" name="brat"><br> Location: <input
			type="text" id="loc" name="bloc"><br>
		</font>
	</form>
</div>



<script>
		let beerAdd = function(){
		console.log("helloo");
		const Http = new XMLHttpRequest();
		const url='http://localhost:8888/addbeer';
		Http.open("POST", url);
		Http.setRequestHeader("Content-Type", "application/json");
		
		const fd = {
				"name":  document.getElementById('nam').value,
				"price": document.getElementById('pri').value,
				"type":  document.getElementById('typ').value,
				"colour":  document.getElementById('col').value,
				"rating":  document.getElementById('rat').value,
				"location": document.getElementById('loc').value
		};

		alert(JSON.stringify(fd));
		Http.onload = function(){
			console.log("hello");
			console.log(Http.response);
			//after call getall
		}
			Http.send(JSON.stringify(fd))
		}

	
		function seeChart(){
			var ref = document.getElementById("colchart");
			ref.style.visibility="visible";
			setTimeout(hideChart, 4000);
		}
		
		function hideChart(){
			var ref = document.getElementById("colchart");
			ref.style.visibility="hidden";
		}
	
		function checkValues(){
			
			var refn = document.getElementById("nam");
			var refp = document.getElementById("pri");
			var reft = document.getElementById("typ");
			var refc = document.getElementById("col");
			var refr = document.getElementById("rat");
			var refl = document.getElementById("loc");
			
			if(refn.value == ""){
				alert("Name is missing");
				return false;
			}
			else if(refp.value == ""){
				alert("Price is missing");
				return false;
			}
			else if(reft.value == ""){
				alert("Type is missing");
				return false;
			}
			else if(refc.value == ""){
				alert("Colour is missing");
				return false;
			}
			else if(refr.value == ""){
				alert("Rating is missing");
				return false;
			}
			else if(refl.value == ""){
				alert("Location is missing");
				return false;
			}
		}


</script>


<form action="IMDBeerLanding.html">
		<input type="submit" value="HOME"
			style="background-color: #331a00; color: #ffffff; position: absolute; top: 10px; left: 265px; height: 20px; width: 122px;" />
	</form>
	
	<form action="submitform.html">
		<input type="submit" value="ADD BEER"
			style="background-color: #331a00; color: #ffffff; position: absolute; top: 10px; left: 385px; height: 20px; width: 138px;" />
	</form>
	
	<form action="library.html">
		<input type="submit" value="LIBRARY"
			style="background-color: #331a00; color: #ffffff; position: absolute; top: 10px; left: 521px; height: 20px; width: 138px;" />
	</form>
	
	<form action="recommendations.html">
		<input type="submit" value="RECOMMENDATIONS"
			style="background-color: #331a00; color: #ffffff; position: absolute; top: 10px; left: 657px; height: 20px; width: 198px;" />
	</form>
	
	<form action="contactus.html">
		<input type="submit" value="CONTACT US"
			style="background-color: #331a00; color: #ffffff; position: absolute; top: 10px; left: 854px; height: 20px; width: 158px;" />
	</form>
	
	<button onclick="beerAdd()">Send Request</button>

<img
	src="https://www.homebrewing.org/assets/images/AIH%20SRM%20Chart%201.jpg"
	style="visibility: hidden; position: absolute; top: 70px; left: 300px; width: 30%; height: 49%;"
	id="colchart"; >

<img
	src='https://commonwealthskybar.com/wp-content/uploads/2018/11/cocktail-bar-background.jpg'
	style='position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: -1;'>


</body>
</html>